.aditor-root {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  width: 800px;
  height: 800px;
  background-color: #eee;
  cursor: text;
  outline: none;
}

.measure {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
}

.gutter {
  display: none;
}

.textarea {
  display: none;
}