.display-root {
  /* display: block; */
  position: absolute;
  vertical-align: middle;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: text;
  outline: none;
}

.gutter {
  display: none;
}

.textarea {
  display: none;
}